{% extends "common/modal.html" %} {% block content %}
<div id="add-tabs" class="tab-container">
	<div class="tabs">
		<button class="tab-button" onclick="openTab(event, 'add-tabs', 'add-procedure-tab')">
			Procedures
		</button>
		<button class="tab-button" onclick="openTab(event, 'add-tabs', 'add-part-tab')">
			Parts
		</button>
		<button class="tab-button" onclick="openTab(event, 'add-tabs', 'add-item-tab')">
			Items
		</button>
		<button class="tab-button" onclick="openTab(event, 'add-tabs', 'add-tool-tab')">
			Tools
		</button>
		<button class="tab-button" onclick="openTab(event, 'add-tabs', 'add-step-tab')">
			Steps
		</button>
		<button class="tab-button" onclick="openTab(event, 'add-tabs', 'add-image-tab')">
			Images
		</button>
	</div>

	<div
		id="add-procedure-tab"
		class="tab-content active"
		data-rdf-type="Procedure"
	>
		<label><span style="color: red">*</span>Label</label>
		<input
			type="text"
			id="searchInput"
			class="property-input"
			data-property="http://www.w3.org/2000/01/rdf-schema#label"
			placeholder="Add procedure name..."
		/>
	</div>
	<div id="add-part-tab" class="tab-content" data-rdf-type="Part">
		<label><span style="color: red">*</span>Label</label>
		<input
			type="text"
			id="searchInput"
			class="property-input"
			data-property="http://www.w3.org/2000/01/rdf-schema#label"
			placeholder="Add part name..."
		/>
	</div>
	<div id="add-item-tab" class="tab-content" data-rdf-type="Item">
		<label><span style="color: red">*</span>Label</label>
		<input
			type="text"
			id="searchInput"
			class="property-input"
			data-property="http://www.w3.org/2000/01/rdf-schema#label"
			placeholder="Add item name..."
		/>
	</div>
	<div id="add-tool-tab" class="tab-content" data-rdf-type="Tool">
		<label><span style="color: red">*</span>Label</label>
		<input
			type="text"
			id="searchInput"
			class="property-input"
			data-property="http://www.w3.org/2000/01/rdf-schema#label"
			placeholder="Add tool name..."
		/>
	</div>
	<div id="add-step-tab" class="tab-content" data-rdf-type="Step">
		<label><span style="color: red">*</span>Step description</label>
		<input
			type="text"
			id="searchInput"
			class="property-input"
			data-property="http://ifixthat.org/actions"
			placeholder="Add step description..."
		/>
	</div>
	<div id="add-image-tab" class="tab-content" data-rdf-type="Image">
		<label><span style="color: red">*</span>Image URL</label>
		<input
			type="text"
			id="searchInput"
			class="property-input"
			data-property="http://ifixthat.org/dataUrl"
			placeholder="Add image URL..."
		/>
	</div>
</div>
<button id="addButton" style="margin-top: 16px">Add</button>
{% endblock %}
