{% extends "common/modal.html" %}

{% block content %}
<div id="search-tabs" class="tab-container">
    <div class="tabs">
        <button class="tab-button" onclick="openTab(event, 'search-tabs', 'search-procedure-tab')">Procedures</button>
        <button class="tab-button" onclick="openTab(event, 'search-tabs', 'search-part-tab')">Parts</button>
        <button class="tab-button" onclick="openTab(event, 'search-tabs', 'search-item-tab')">Items</button>
        <button class="tab-button" onclick="openTab(event, 'search-tabs', 'search-tool-tab')">Tools</button>
    </div>


    <div
        id="search-procedure-tab"
        class="tab-content active"
        data-rdf-type="Procedure"
    >
        <label for="searchInput">Title</label>
        <input
            type="text"
            id="searchInput"
            class="property-input"
            data-property="http://www.w3.org/2000/01/rdf-schema#label"
            placeholder="Search for procedure titles..."
        />

        <label for="stepCountInput">Step count</label>
        <input
            type="number"
            id="stepCountInput"
            class="property-input"
            data-property="stepCount"
        />

        <label for="toolCountInput">Tool count</label>
        <input
            type="number"
            id="toolCountInput"
            class="property-input"
            data-property="toolCount"
        />
    </div>




    <div
        id="search-part-tab"
        class="tab-content"
        data-rdf-type="Part"
    >
        <label for="searchInput">Name</label>
        <input
            type="text"
            id="searchInput"
            class="property-input"
            data-property="http://www.w3.org/2000/01/rdf-schema#label"
            placeholder="Search for part names..."
        />

        <label for="procedureCountInput">Procedure count</label>
        <input
            type="number"
            id="procedureCountInput"
            class="property-input"
            data-property="procedureCount"
        />

        <label for="itemCountInput">Item count</label>
        <input
            type="number"
            id="itemCountInput"
            class="property-input"
            data-property="itemCount"
        />
    </div>




    <div
        id="search-item-tab"
        class="tab-content"
        data-rdf-type="Item"
    >
        <label for="searchInput">Name</label>
        <input
            type="text"
            id="searchInput"
            data-property="http://www.w3.org/2000/01/rdf-schema#label"
            placeholder="Search for item names..."
        />

        <label for="procedureCountInput">Procedure count</label>
        <input
            type="number"
            id="procedureCountInput"
            class="property-input"
            data-property="procedureCount"
        />

        <label for="partCountInput">Part count</label>
        <input
            type="number"
            id="partCountInput"
            class="property-input"
            data-property="partCount"
        />
    </div>




    <div
        id="search-tool-tab"
        class="tab-content"
        data-rdf-type="Tool"
    >
        <label for="searchInput">Name</label>
        <input
            type="text"
            id="searchInput"
            class="property-input"
            data-property="http://www.w3.org/2000/01/rdf-schema#label"
            placeholder="Search for tool names..."
        />

        <label for="supplierUrl">Supplier URL</label>
        <input
            type="text"
            id="supplierUrl"
            class="property-input"
            data-property="http://ifixthat.org/supplierUrl"
            placeholder="Search for tool supplier URLs..."
        />

        <label for="stepCountInput">Step count</label>
        <input
            type="number"
            id="stepCountInput"
            class="property-input"
            data-property="stepCount"
        />
    </div>
</div>
<button id="searchButton" style="margin-top: 16px">Search</button>
{% endblock %}