<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>

        <link rel="icon" type="image/png" href="https://assets.cdn.ifixit.com/static/icons/ifixit/favicon-96x96.png" sizes="96x96">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/tabs.css') }}">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <script type="module" src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/add.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/delete.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
    </head>
    <body>
        <div style="background-color: dodgerblue; color: white">
            <div style="display: flex; justify-content: space-between; align-items: center; margin: auto 10px">
                <div style="display: flex; align-items: center; gap: 16px;">
                    <h1>IFixit Knowledge Base</h1>
                    <button class="openAddButton">Add item</button>
                </div>
                <button class="openSearchButton">Search</button>
            </div>
        </div>

        <!-- Search modal -->
        {% with keyword="search", title="Search" %}
            {% include "common/modals/search_modal.html" %}
        {% endwith %}

        <!-- Add modal -->
        {% with keyword="add", title="Add entry" %}
            {% include "common/modals/add_modal.html" %}
        {% endwith %}

        <!-- Delete modal -->
        {% with keyword="delete", title="Delete" %}
            {% include "common/modals/delete_modal.html" %}
        {% endwith %}

        <div style="padding: 0px 10px">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>