
<script type="module">
const modal = document.getElementById("{{ keyword }}Modal");

const openModalButtons = document.getElementsByClassName("open{{ keyword | capitalize }}Button");
const closeModalButton = document.getElementById("close{{ keyword | capitalize }}Button");

closeModalButton.onclick = () => {
    modal.style.display = "none";
}

for (let openModalButton of openModalButtons) {
    openModalButton.addEventListener("click", (event) => {
        modal.style.display = "block";
        event.preventDefault();
        event.stopPropagation();
        window.onclick = (event) => {
            if (!event.target.closest(".modal-content")) {
                modal.style.display = "none";
            }
        };
    });
}
</script>
<div id="{{ keyword }}Modal" class="modal">
    <div class="modal-content">
        <div style="display: flex; justify-content: space-between; align-items: start;">
            <h2>{{ title }}</h2>
            <button id="close{{ keyword | capitalize }}Button">&times;</button>
        </div>
        {% block content %}
        
        {% endblock %}
    </div>
</div>