
.tab-container {
    width: 100%;
}

.tabs {
    display: flex;
}

.tab-button {
    padding: 10px;
    border: 1px solid silver;
    background-color: white;
    cursor: pointer;
    flex: 1;
}

.tab-button.active {
    background-color: lightgray;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: none;
    flex-direction: column;
    gap: 8px;
}

.tab-content.active {
    display: flex;
}