<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/search.js') }}"></script>
    </head>
    <body>
        <div style="background-color: dodgerblue; color: white">
            <div style="display: flex; justify-content: space-between; align-items: center; margin: auto 10px">
                <h1>IFixit Knowledge Base</h1>
                <button id="openSearchButton">Search</button>
            </div>
        </div>

        <!-- Modal -->
        <div id="searchModal" class="modal">
            <div class="modal-content">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <h2>Modal Title</h2>
                    <button id="closeSearchButton">&times;</button>
                </div>
                <p>This is a simple modal example.</p>
            </div>
        </div>

        {% block content %}{% endblock %}
    </body>
</html>