{% extends "common/base.html" %} {% block content %} {% include
"common/errors.html" %}

<h2>Image url:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://ifixthat.org/dataUrl"
>
	{{ url }}
</p>

<img src="{{ url }}" />

<h2>In steps</h2>
<div
	data-property="http://ifixthat.org/hasImage"
	child-uri="{{ uri }}"
	data-object-type="Step"
>
	<input type="number" placeholder="Step ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=steps %} {% include "common/links.html" %} {% endwith %}

<h2>For tools</h2>
<div
	data-property="http://ifixthat.org/hasImage"
	child-uri="{{ uri }}"
	data-object-type="Tool"
>
	<input type="number" placeholder="Tool ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=tools %} {% include "common/links.html" %} {% endwith %} {%
endblock %}
