{% extends "common/base.html" %} {% block content %} {% include
"common/errors.html" %}

<h2>Item name:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://www.w3.org/2000/01/rdf-schema#label"
>
	{{ label }}
</p>
<button class="openDeleteButton" data-uri="{{ uri }}">Delete Item</button>

<h2>Parents</h2>
<div
	data-property="http://ifixthat.org/subCategoryOf"
	parent-uri="{{ uri }}"
	data-object-type="Item"
>
	<input type="number" placeholder="Item ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=categoryParents %} {% include "common/links.html" %} {% endwith %}

<h2>Children</h2>
<div
	data-property="http://ifixthat.org/subCategoryOf"
	child-uri="{{ uri }}"
	data-object-type="Item"
>
	<input type="number" placeholder="Item ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=categoryChildren %} {% include "common/links.html" %} {% endwith
%}

<h2>Parts</h2>
<div
	data-property="http://ifixthat.org/partOf"
	child-uri="{{ uri }}"
	data-object-type="Part"
>
	<input type="number" placeholder="Part ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=parts %} {% include "common/links.html" %} {% endwith %}

<h2>Procedures</h2>
<div
	data-property="http://ifixthat.org/guideOf"
	child-uri="{{ uri }}"
	data-object-type="Procedure"
>
	<input type="number" placeholder="Procedure ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=procedures %} {% include "common/links.html" %} {% endwith %} {%
endblock %}
