{% extends "common/base.html" %} {% block content %}

<h2>Item name:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://www.w3.org/2000/01/rdf-schema#label"
>
	{{ label }}
</p>

{% if categoryParents %}
<h2>This item has parents:</h2>
{% else %}
<h2>This item has no parents:</h2>
{% endif %} {% with links=categoryParents %} {% include "common/links.html" %}
{% endwith %} {% if categoryChildren %}
<h2>This item has children:</h2>
{% else %}
<h2>This item has no children:</h2>
{% endif %} {% with links=categoryChildren %} {% include "common/links.html" %}
{% endwith %} {% if parts %}
<h2>This item has parts:</h2>
{% else %}
<h2>This item has no parts:</h2>
{% endif %} {% with links=parts %} {% include "common/links.html" %} {% endwith
%} {% if procedures %}
<h2>This item is used in procedures:</h2>
{% else %}
<h2>This item is not used in any procedures:</h2>
{% endif %} {% with links=procedures %} {% include "common/links.html" %} {%
endwith %} {% endblock %}
