{% extends "common/base.html" %} {% block content %}

{% include "common/errors.html" %}

<h2>Part name:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://www.w3.org/2000/01/rdf-schema#label"
>
	{{ label }}
</p>

{% if items %}
<h2>This part has items:</h2>
{% else %}
<h2>This part has no items:</h2>
{% endif %} {% with links=items %} {% include "common/links.html" %} {% endwith
%} {% if procedures %}
<h2>This part is used in procedures:</h2>
{% else %}
<h2>This part is not used in any procedures:</h2>
{% endif %} {% with links=procedures %} {% include "common/links.html" %} {%
endwith %} {% endblock %}
