{% extends "common/base.html" %} {% block content %} {% include
"common/errors.html" %}

<h2>Procedure name:</h2>
<p
	contenteditable="true"
	data-property="http://www.w3.org/2000/01/rdf-schema#label"
	data-uri="{{ uri }}"
>
	{{ label }}
</p>

<h2>Steps</h2>
<div
	data-property="http://ifixthat.org/hasStep"
	parent-uri="{{ uri }}"
	data-object-type="Step"
>
	<input type="number" placeholder="Step ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=steps %} {% include "common/links.html" %} {% endwith %}

<h2>For parts</h2>
<div
	data-property="http://ifixthat.org/guideOf"
	parent-uri="{{ uri }}"
	data-object-type="Part"
>
	<input type="number" placeholder="Part ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=parts %} {% include "common/links.html" %} {% endwith %}

<h2>For items</h2>
<div
	data-property="http://ifixthat.org/guideOf"
	parent-uri="{{ uri }}"
	data-object-type="Item"
>
	<input type="number" placeholder="Item ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=items %} {% include "common/links.html" %} {% endwith %}

<h2>Requires tools</h2>
<div
	data-property="http://ifixthat.org/requiresTool"
	parent-uri="{{ uri }}"
	data-object-type="Tool"
>
	<input type="number" placeholder="Tool ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=tools %} {% include "common/links.html" %} {% endwith %}

<h2>Subprocedure for</h2>
{% with links=super_procedures %} {% include "common/links.html" %} {% endwith
%}

<h2>Has subprocedures</h2>
{% with links=sub_procedures %} {% include "common/links.html" %} {% endwith %}
{% endblock %}
