{% extends "common/base.html" %} {% block content %} {% include
"common/errors.html" %}

<h2>Step actions:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://ifixthat.org/actions"
>
	{{ actions }}
</p>

<h2>Images</h2>
<div
	data-property="http://ifixthat.org/hasImage"
	parent-uri="{{ uri }}"
	data-object-type="Image"
>
	<input type="number" placeholder="Image ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=images %} {% include "common/links.html" %} {% endwith %}

<h2>Uses tools</h2>
<div
	data-property="http://ifixthat.org/usesTool"
	parent-uri="{{ uri }}"
	data-object-type="Tool"
>
	<input type="number" placeholder="Tool ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=tools %} {% include "common/links.html" %} {% endwith %}

<h2>Part of procedures</h2>
<div
	data-property="http://ifixthat.org/hasStep"
	child-uri="{{ uri }}"
	data-object-type="Procedure"
>
	<input type="number" placeholder="Procedure ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=procedures %} {% include "common/links.html" %} {% endwith %} {%
endblock %}
