{% extends "common/base.html" %} {% block content %}

<h2>Tool name:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://www.w3.org/2000/01/rdf-schema#label"
>
	{{ label }}
</p>

<h2>Supplier URL:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://ifixthat.org/supplierUrl"
>
	{{ supplier_url }}
</p>

{% if images %}
    <h2>This tool has images:</h2>
{% else %}
    <h2>This tool does not have any images:</h2>
{% endif %}

{% with links=images %}
    {% include "common/links.html" %}
{% endwith %}


{% if procedures %}
<h2>This tool is used in procedures:</h2>
{% else %}
<h2>This tool is not used in any procedures:</h2>
{% endif %} {% with links=procedures %} {% include "common/links.html" %} {%
endwith %} {% endblock %}
