{% extends "common/base.html" %} {% block content %} {% include
"common/errors.html" %}

<h2>Tool name:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://www.w3.org/2000/01/rdf-schema#label"
>
	{{ label }}
</p>
<button class="openDeleteButton" data-uri="{{ uri }}">Delete Tool</button>

<h2>Supplier URL:</h2>
<p
	contenteditable="true"
	data-uri="{{ uri }}"
	data-property="http://ifixthat.org/supplierUrl"
>
	{{ supplier_url }}
</p>

<h2>Images</h2>
<div
	data-property="http://ifixthat.org/hasImage"
	parent-uri="{{ uri }}"
	data-object-type="Image"
>
	<input type="number" placeholder="Image ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=images %} {% include "common/links.html" %} {% endwith %}

<h2>Required for procedures</h2>
<div
	data-property="http://ifixthat.org/requiresTool"
	child-uri="{{ uri }}"
	data-object-type="Procedure"
>
	<input type="number" placeholder="Procedure ID" id="idInput" />
	<button class="addLinkButton">Add</button>
</div>
{% with links=procedures %} {% include "common/links.html" %} {% endwith %} {%
endblock %}
